{% extends 'base.html' %}


{% block body %}
<div class="thumbnail circle-image"><img src="{{ profile_picture_url() }}" alt="Profile Picture"></div>
{{ body }}
{% endblock %}
{% block script %}{% endblock %}