{% extends 'base.html' %}
<div>
<div>{{ company }}</div>
<div>{{ role }}</div>
<div>{{ start_date }} - {{ end_date }}</div>
<ul>
    {% for duty in duties %}
        <li>{{ duty }}</li>
    {% endfor %}
</ul>
</div>